body{
    margin: 0;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    min-width: 400px;
    font-size: 10px;
}

#inputElem{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    margin: 2px;
    border-color: #27378A;
}

button {
    color: white;
    background-color: #27378A;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}

ul {
    margin-left: 5px;
    padding: 5px;
}

li {
    margin-left: 5px;
    margin-bottom: 2px;
    font-size: 14px;
    list-style-type: square;
}

a {
    text-decoration: none;
    color: #27378A;
}